*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

/* ====================NAVBAR=================*/

nav{
    width: 88%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 1.05vw;
    color: black;
    font-weight: 400;
}
.nav-icon{
    color: #4C6A46
}
nav li a::after{
    content: "";
    display: block;
    margin: auto;
    height: 0.1vw;
    width: 0;
    margin-top: 0.3vw;
    background-color: transparent;
    transition: all 0.3s;
}
.nav-col-2 li a:hover::after, .active-nav::after{
    width: 70%;
    background-color: #4C6A46;
}
.nav-col-1 li a img{
    width: 9vw;
}
.nav-col-2{
    display: flex;
    justify-content: space-between;
    width: 42%;
}
.nav-col-3{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #20507D;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 15vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 0.2vw solid #102E4A;
    margin-top: 0.3%;
    transition: 0.5s;
  }
  
  .dropdown-content a {
    color: black;
    padding: 1vw 2vw;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1vw  ;
  }

  .dropdown-content a::after{
    content: "";
    display: none;
    margin: auto;
    height: 0.1vw;
    width: 0;
    margin-top: 0.3vw;
    background-color: transparent;
    transition: all 0.3s;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
   visibility: visible;
   opacity: 1;
   
  }



/*==================BUNDLE PAGE ONE SECTION ONE================*/
.bundleone-section-one{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}
.bundleone-section-one-content{
    margin-left: 7%;
    margin-top: -6%;
}
.bundleone-section-one-content h3{
    font-size: 1.4vw;
    font-weight: 500;
    color:#4C6A46
}

.bundleone-section-one-content h1{
    font-size: 4vw;
    font-weight: 600;
    margin-top: 1.5vw;
}
.bundleone-section-one-content h4{
    font-size: 1.4vw;
    font-weight: 500;
    color: #878787;
    margin-top: 1vw;
}
.bundleone-section-one-content p{
    font-size: 1.06vw;
    font-weight: 500;
    line-height: 214%;
    margin-top: 2vw;
}
.bundleone-section-one-content-buttons{
    margin-top: 10%;   
}
#bundleoneimg{
    width: 43vw;
}
#buy-now-btn{
    padding: 1.2vw 3.6vw 1.2vw 3.6vw;
    background-color: #4C6A46;
    color: white;
    border: none;
    font-size: 1vw;
    font-weight: 500;
    cursor: pointer;
}
#atjust-btn{
    padding: 1.2vw 3.6vw 1.2vw 3.6vw;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1.3vw;
    font-weight: 500;
    cursor: pointer;
    margin-left: -4%;
}
.head-link-images{
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: auto;
}
.head-link-one{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    box-shadow: 0.3vw 0.5vw 2vw rgb(226, 226, 226); 
}

/*================BUNDLE PAGE ONE SECTION TWO==================*/

.bundleone-section-two{
    background-color: white;
    width: 82%;
    margin: auto;
    box-shadow: 0.2vw 0.2vw 2.5vw rgba(0, 0, 0, 0.25);
    border-radius: 1.4vw;
    margin-top: 10%;
    padding-bottom: 6%;
}
.bundleone-section-two h1{
    padding: 6vw 0vw 0vw 8vw;
    line-height: 172%;
    font-size: 2.2vw;
    font-weight: 600;
}
.bundleone-section-two-reasons{
    padding: 6vw 0vw 0vw 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
#reason-img{
    width: 4vw;
}
#booster-img{
    width: 10vw;
}
.reason-1 h3{
    font-size: 1.2vw;
    font-weight: 600;
    margin-top: 9%;
}
.reason-1 p{
    font-size: 0.85vw;
    font-weight: 400;
    margin-top: 5%;
    color: #575757;
    line-height: 180%;
}
/*==============BUNDLE PAGE ONE SECTION THREE=============*/

.bundleone-section-three{
    width: 100%;
    padding-bottom: 8.5vw;
    background: linear-gradient(180deg, #4C6A46 0%, #1C3F15 100%);
    margin-top: 10%;
}
.bundleone-section-three-content-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 4vw 0vw 0vw 12vw;
}
.bundleone-section-three-content-one img{
    width: 8vw;
}
.bundleone-section-three-content-one h1{
    color: white;
    font-size: 2.8vw;
}
.bundleone-section-three-content-two{
    padding: 4vw 0vw 0vw 12vw;
    display: flex;
    justify-content: space-between;
    width: 78%;
}

.usage-1 h1{
    font-size: 4.8vw;
    font-weight: 600;
    -webkit-text-stroke: 0.05vw white;
    color: transparent;
}
.usage-1 p{
    font-size: 1vw;
    font-weight: 400;
    line-height: 176.5%;
    color: #e8e8e8;
}

/*===============BUNDLEPAGE ONE SECTION FOUR=============*/
.bundleone-section-four{
    margin-top: 5%;
}
#actives-head-img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    box-shadow: 0.3vw 0.5vw 2vw rgb(163, 163, 163);
}
.bundle-actives-one{
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: auto;
    margin-top: 10%;
}
.bundle-actives-heading{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    align-items: center;
}
.bundle-actives-heading-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43%;
}
.bundle-actives-heading-one h1{
    font-size: 3.5vw;
    font-weight: 400;
}
.bundle-actives-heading-two img{
   width: 7vw;
}

#actives-arrow{
    width: 26vw;
}

.bundle-actives-one-img img{
    width: 40vw;
}
.bundle-actives-one-content h1{
    font-size: 4vw;
    font-weight: 500;
    line-height: 144.5%;
    margin-top: 5%;
    margin-bottom: 8%;
}
.actives-points{
    display: flex;
    margin-top: 3%;
}
.actives-points p{
    font-size: 1.15vw;
    line-height: 195.5%;
    color: #474747;
}





/*FOOTER==============================*/

.container{
	max-width: 80%;
	margin:auto;
    box-sizing: border-box;
   
}
.row{
	display: flex;
	
}
ul{
	list-style: none;
}
.footer{
	background-color: white;
    padding: 5vw 0;
    border-top: 0.1vw solid #bbbbbb;
    margin-top: 10%;
}
.footer-col{
   width: 25%;
   padding: 0 1vw;
}
.footer-col h4{
	font-size: 1.4vw;
	color: black;
	text-transform: capitalize;
	margin-bottom: 3vw;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -1.2vw;
	background-color: #4C6A46;
	height: 0.11vw;
	box-sizing: border-box;
	width: 4vw;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 1vw;
}
.footer-col ul li a{
	font-size: 1vw;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #4C6A46;
	padding-left: 1vw;
}
.footer-col .social-links a{
	display: inline-block;
	height: 2vw;
	width: 2vw;
	background-color: rgba(255,255,255,0.2);
	margin:0 1vw 1vw 0;
	text-align: center;
	line-height: 4vw;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}






/*====================================================================*/


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 3vw 0.5vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#home-head{
    font-size: 3.5vw;
}


/*===============SHOP PRODUCTS===================*/

.shop-categories{
    background-color: #F4F6F8;
    padding: 5vw 0vw 5vw 0vw;
    margin-top: 5%;
}
.shop-products{
    width: 75%;
    margin: auto;
}

.shop-products h3{
    color: #4C6A46;
    font-weight: 500;
    text-align: center;
    font-size: 1.4vw;
}

.shop-products h1{
    font-size: 2.3vw;
    font-weight: 600;
    text-align: center;
    margin-top: 1%;
}

.shop-products-col{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5%;
}

.img-getter{
    height: 17vw;
    width: 16vw;
    background-color: red;
    border-radius: 1vw;
}
.category h4{
    font-size: 1.3vw;
    margin-top: 10%;
    font-weight: 500;
}

.category p{
    font-size: 1vw;
    margin-top: 5%;
    font-weight: 400;
    color: #646566;
}


/*===================HOME ACTIVES===========*/

.home-key-actives{
    margin-top: 10%;
}

.home-key-actives-headline{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.actives-headline-img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    box-shadow: 2px 2px 1px rgb(163, 163, 163);
}

.actives-headline-content{
    display: flex;
    justify-content: space-between;
    width: 55%;
    align-items: center;
}
.actives-headline-content h1{
    font-size: 3vw;
    padding-right: 3vw;
    font-weight: 400;
}


.home-actives-one{
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 10%;
    justify-content: space-between;
}

.home-actives-one-content h1{
    font-size: 4vw;
    font-weight: 500;
}

.home-actives-one-content p{
    font-size: 1vw;
    font-weight: 400;
    line-height: 195.5%;
    margin-top: 5%;
    margin-bottom: 8%;
}
.home-actives-one-img{
    width: 30vw;
    height: 34vw;
    background-color: red;
    border-top-right-radius: 10vw;
    border-bottom-left-radius: 10vw;
}
.icon-title{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin-bottom: 10%;
}
.icon-title img{
    width: 4vw;
}
.icon-title h5{
    letter-spacing: 0.1vw;
    font-size: 0.8vw;
    
}
.icon-title h5:nth-child(3){
    color: #4C6A46;
}

/*=============HOME CONTENT====*/

.home-about-content{
    background: linear-gradient(180deg, #4C6A46 0%, #1C3F15 100%);
    padding: 5vw 0vw 9vw 10vw;
    margin-top: 10%;
}

.home-about-content-one{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
}

.home-about-content-one h1{
    color: white;
    font-size: 1.7vw;
    font-weight: 600;
}
.home-about-content-one img{
    width: 6vw;
}

.home-about-content-two{
    display: flex;
    width: 79%;
    justify-content: space-between;
    margin-top: 5%;
}
.home-about-content-two p{
    font-size: 1vw;
    color: white;
    line-height: 186.5%;
    font-weight: 400;
}
/*============TESTIMONIALS=========*/

.testimonials{
    margin-top: 6%;
}
.testimonials h1{
    text-align: center;
    font-size: 2.4vw;
}
.tes-container{
    width: 80%;
    background-color: #F4F6F8;
    margin-left: 20%;
    margin-top: 5%;
}
.tes-box{
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.tesone{
    width: 100%;
}

.tesone h2{
    font-size: 1.6vw;
    line-height: 186.5%;
    font-weight: 400;
}

.tes-profile{
    display: flex;
    margin-top: 15%;
    align-items: center;
}
.tes-profile-img{
    width: 3vw;
    height: 3vw;
    background-color: red;
    border-radius: 100%;
    
}

.test-profile-content{
    margin-left: 5%;
}  
.test-profile-content h3{
    font-size: 1vw;
}
.test-profile-content p{
    font-size: 1.1vw;
}

/*==========ABOUT==========*/

.about-head-section{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.about-head-section-content h1{
    font-size: 3.6vw;
    font-weight: 600;
    line-height: 161%;
}
.about-head-section-content p{
    font-size: 1vw;
    line-height: 220%;
    color: #696969;
    font-weight: 500;
    margin-top: 5%;
}

.about-head-img{
    width: 28vw;
    height: 35vw;
    background-color: red;
}
.about-head-buttons{
    margin-top: 8%;
}

/*====table of contetns*/

.about-table-content{
    background-color: white;
    width: 75%;
    padding: 5vw;
    margin: auto;
    margin-top: 3%;
    border-radius: 3vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.1vw 0.1vw 20px rgb(200, 200, 200);
}
.table-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-content h1{
    font-size: 1.1vw;
    padding-left: 1vw;
    font-weight: 600;
    color: #3D3D3D;
}
.table-content img{
    width: 2.5vw;
}

/*===========================*/
.about-info{
    margin-top: 10%;
}
.about-info-one{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    align-items: center;
}
.about-info-content h1{
    font-size: 2.6vw;
    color: #4C6A46;
}
.about-info-content p{
    font-size: 1.1vw;
    line-height: 185%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.about-info-content a{
    font-size: 1vw;
    font-weight: 500;
    color: #4C6A46;
}
.about-info-img img{
    width: 35vw;
}

#readmoreimg{
    width: 3vw;
}

/*=================*/

.about-founder{
    background-color: #F4F6F8;
    width: 80%;
    margin: auto;
    padding: 5vw;
    display: flex;
    justify-content: space-between;
}
